<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/tarea.css">
    <title>Agreagar y eliminar tareas</title>
</head>
<body>
    <h1 id = "titulo">Tareas</h1>
    <div id="contenedor">
        <button id="agregar" >Agregar Tarea</button>
        <button id="eliminar" >Eliminar Tarea</button>
    </div>
    <br>
    <div id = "contenedor2">
        
    </div>
    <script src ="../Dynamics/tareas.js"></script>

</body>
</html>